header {
	background-color: #764ba2;
	box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  height: 60px;
}
header .navbar {
	padding: 0;
	width: 90%;
	margin: auto;
}
header .logo {
    width: 30%;
    margin: 0 0 0 5%;
    vertical-align: middle;
}
header .logo img {
    width: 85%;
    max-width: 330px; 
}
.navbar-nav li {
	display: block;
  position: relative;
  width: 10rem;
  text-align: center;
}
.dropdown-menu {
  width: max-content;
}
.menu-nav {
  padding: 0;margin: 0;
}
.dropdown-item-text {
	color: #764ba2;
}
@media screen and (max-width: 767.98px) {
		header .navbar{ width: 100%; padding: .25rem;}
		header .logo { width: 60%;}
		header .logo img  {width: 100%;}
 }
